<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Energy Measurement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/measurements">Measurements</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/predictions">Predictions
<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Welcome to the Wits Energy Measurement Project</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the

      </div>
      <div  class="row mt-5">
      <div   id="graphdiv1"></div>
      </div>
      <div  class="row mt-5">
      <div   id="graphdiv2"></div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>

        <script src="./synchronizer.js"></script>




        <script>




var g1,g2;


           var database1 = "https://db9f4c9a.ngrok.io/query?db=Coffee&q=SELECT%20%22Power%22%20FROM%20%22Coffee1%22%20WHERE%20time%20%3E%20now()%20-%201d&epoch=ms";



            $.get(database1, function(data, status){
                //console.log(data.results[0].series[0].columns);
                //console.log(data.results[0].series[0].values[0][1]);

                for(count = 0; count < data.results[0].series[0].values.length; count++){

                  data.results[0].series[0].values[count][0] = new Date (data.results[0].series[0].values[count][0]);


        }

                 g1 = new Dygraph(

                  // containing div
                  document.getElementById("graphdiv1"),

                  // CSV or path to a CSV file.
                  //data.results[0].series[0].columns,


                  data.results[0].series[0].values,
                  {
          labels: [ "Time", "Power" ]
        },
        {
          axis : {
            x : {
              valueFormatter: Dygraph.dateString_,
              valueParser: function(x) { return 1000*parseInt(x); },
              ticker: Dygraph.dateTicker,
            }
          }


        }

                );

            });









           var database2 = "https://db9f4c9a.ngrok.io/query?db=Predictions&q=SELECT%20%22Power%22%20FROM%20%22Coffee1%22%20WHERE%20time%20%3E%20now()%20-%2024h&epoch=ms";



            $.get(database2, function(data, status){
                //console.log(data.results[0].series[0].columns);
                //console.log(data.results[0].series[0].values[0][1]);

                var toPlot = [];
                var now = new Date();
                var start = new Date();
                start.setDate(start.getDate() - 1);

                for(count = 0; count < data.results[0].series[0].values.length; count++){

                  data.results[0].series[0].values[count][0] = new Date (data.results[0].series[0].values[count][0]);
                  if (data.results[0].series[0].values[count][0] < now && data.results[0].series[0].values[count][0] > start){
                    toPlot.push(data.results[0].series[0].values[count]);
                  }

        }

                 g2 = new Dygraph(

                  // containing div
                  document.getElementById("graphdiv2"),

                  // CSV or path to a CSV file.
                  //data.results[0].series[0].columns,


                  toPlot,
                  {
          labels: [ "Time", "Power" ]
        },
        {
          axis : {
            x : {
              valueFormatter: Dygraph.dateString_,
              valueParser: function(x) { return 1000*parseInt(x); },
              ticker: Dygraph.dateTicker,
            }
          }


        }

                );

            });

            var sync = Dygraph.synchronize(g1, g2);



        </script>
        <style type="text/css">
          #graphdiv1 {
            width: 1000px;
            height: 300px;
          }
        </style>
      </script>
      <style type="text/css">
        #graphdiv2 {
          width: 1000px;
          height: 300px;
        }
      </style>


  </body>
</html>
